# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data and outputs (optional)
cleaned_dataset.csv
*.png

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/
